.enroll.form-container {
    width: 420px;
    height: 260px;
}

.enroll.form-wrapper {
    width: 100%;
    height: 100%;
}

.selection-wrapper {
    display: grid;
    grid-template-columns: 140px auto;
    margin-bottom: 10px;
}

.selection-wrapper select {
    padding: 4px;
}

.enroll-button-wrapper {
    justify-items: center;
    margin-top: 30px;
}

#enroll-button {
    width: 120px;
    height: 32px;
}
